.transferencia-color {
  color: blue;
}

.efectivo-color {
  color: rgb(255, 0, 247);
}

.card-text p {
  font-size: 18px; 
}

.pagado {
  background-color: rgba(150, 248, 248, 0.653);
  border-radius: calc(0.5rem - 1px);
}
