<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    src="../../../assets/logo.png"
                    style="width: 200px"
                    alt="logo"
                  />
                  <p></p>
                  <h4 class="mt-3 mb-5 pb-1">Artes Graficas Phoenix</h4>
                </div>

                <form (ngSubmit)="onSubmit()" [formGroup]="form">
                  <p>Por favor ingrese sus datos</p>
                  <mdb-form-control>
                    <input
                      mdbInput
                      type="text"
                      id="name"
                      class="form-control"
                      formControlName="name"
                    />
                    <label mdbLabel class="form-label" for="name">Nombre</label>
                  </mdb-form-control>
                  <div *ngIf="form.controls['name'].errors != null">
                    <small
                      class="invalid"
                      *ngIf="
                        form.controls['name'].errors!['required'] &&
                        form.controls['name'].touched
                      "
                      >Debe ingresar su nombre..</small
                    >
                    <small
                      class="invalid"
                      *ngIf="
                        form.controls['name'].errors!['name'] &&
                        form.controls['name'].touched
                      "
                      >Ingrese un nombre valido</small
                    >
                  </div>
                  <p></p>
                  <mdb-form-control>
                    <input
                      mdbInput
                      type="email"
                      id="typeEmail"
                      class="form-control"
                      formControlName="email"
                    />
                    <label mdbLabel class="form-label" for="typeEmail"
                      >Email</label
                    >
                  </mdb-form-control>
                  <div *ngIf="form.controls['email'].errors != null">
                    <small
                      class="invalid"
                      *ngIf="
                        form.controls['email'].errors!['required'] &&
                        form.controls['email'].touched
                      "
                      >Debe ingresar su mail..</small
                    >
                    <small
                      class="invalid"
                      *ngIf="
                        form.controls['email'].errors!['email'] &&
                        form.controls['email'].touched
                      "
                      >Ingrese un email valido</small
                    >
                  </div>
                  <p></p>
                  <mdb-form-control>
                    <input
                      mdbInput
                      type="password"
                      id="form2Example22"
                      class="form-control"
                      formControlName="password"
                    />
                    <label mdbLabel class="form-label" for="form2Example22"
                      >Contraseña</label
                    >
                  </mdb-form-control>
                  <div *ngIf="form.controls['password'].errors != null">
                    <small
                      class="invalid"
                      *ngIf="
                        form.controls['password'].errors!['required'] &&
                        form.controls['password'].touched
                      "
                      >Debe ingresar su contraseña..</small
                    >
                  </div>

                  <p></p>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button
                      class="btn btn-primary btn-block fa-lg gradient-custom-3 mb-3"
                      type="submit"
                    >
                      Registrarme
                    </button>
                  </div>

                  <div
                    class="d-flex align-items-center justify-content-center pb-4"
                  >
                    <p class="mb-0 me-2">Ya tienes una cuenta?</p>
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      (click)="goToLogin()"
                    >
                      Iniciar sesión
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-3">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Gestión de trabajos</h4>
                <p class="small mb-0">
                  Bienvenido a la sección de gestión de trabajos. Aquí, puedes
                  cargar, visualizar y modificar trabajos de manera eficiente.
                  Esta herramienta está diseñada para ayudar a los
                  administradores a llevar un control de los trabajos que
                  entran, proporcionando una visión clara y actualizada de todas
                  las tareas en curso.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
